@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thumb-pink-500::-webkit-scrollbar-thumb {
    background-color: rgb(236, 72, 153);
    border-radius: 3px;
  }

  .scrollbar-track-gray-800::-webkit-scrollbar-track {
    background-color: rgb(31, 41, 55);
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
